body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
    ;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.post{
    border: solid 1px black;
    width: 60%;
    margin: 0 auto;
}
.post h1{
    color: rgb(146, 127, 255);
}
#cabecera{
    background: greenyellow;
    color: #fff;
    font-weight: bold;
    text-align: start;
    padding: 20px 5px;
    font-size: 2rem;
}
.imagen-logo{
    display: inline-block;
    width:40px ;
    height: 40px;
    
    background: url("./imagenes/dragon.png") center/cover no-repeat;
}
#cabecera span{
    font-weight: normal;
    font-size: 1.5rem;
}
footer h2{
    background: greenyellow;
    height: 60px;
    margin: 0;
    color: #fff;
}